dist/
*.eggs
*.egg-info
.DS_Store
*.log

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg
*.egg-info/

.ipynb_checkpoints

flask_cache/

.curio/
simple_example
templates/

logs/
instance/