dist/
*.eggs
*.egg-info
.DS_Store
*.log

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg
*.egg-info/

.ipynb_checkpoints

examples/wrf_chicago
examples/tests
examples/wrf_multi_resolution
examples/wrf_one_resolution
examples/wrf_temp_building
examples/downtown_manhattan
examples/downtown_nyc
examples/multiple_downtown_nyc
examples/multiple_timesteps_nyc
examples/chicago-ejust

urbantk_cache/
examples/downtown_nyc