.dataset-container {
    padding: 20px;
    height: 100%;
  }
  
  .table-wrapper {
    margin-top: 20px;
    max-height: 80%; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  .dataset-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dataset-table th,
  .dataset-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dataset-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .dataset-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .dataset-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  